@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Mulish:wght@200&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Mulish:wght@200&family=Poppins:wght@200&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Montserrat:ital,wght@0,300;1,300&family=Mulish:wght@200&family=Open+Sans&family=Poppins:wght@200&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(255,245,238);
}
.container {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    background-color: 	rgb(218,112,214);
    width: 15vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

.sidebar nav {

    padding: 29px;
    margin: 0px 24px 0px 0px;

}

.sidebar nav li {

    list-style: none;
    font-size: 20px;
    padding: 33px 0;
    font-weight: bold;
    color: white;
}

.sidebar nav li a {
    text-decoration: none;
    color: white;

}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.infocontainer {
    /* background-color: rgb(146, 146, 241); */
    height: 65vh;
    width: 80vw;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    color: rgb(0, 0, 0);
}

.hello {
    font-size: 40px;
    
}
.hello:hover {
    font-size: 40px;
    color: red;
}

.name {
    font-size: 35px;
    display:inline;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(218,112,214);
}
.name:hover {
    
    color: black;
}

.about {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.more {
    font-size: 18px;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.button button {
    border-radius: 22px;
    padding: 9px 14px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(218,112,214);
    cursor: pointer;
    margin: 0 4px;
}

.button button:hover {
    color: rgb(218,112,214);
    background-color: white;
}

.devpic img {
    height: 65vh;
}

.button {
    margin-top: 34px;
}

/*contact styling*/

.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34PX;
    padding-top: 80px;
    color: rgb(0, 0, 0);
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

.contactform form div {
    padding: 8px 0px;

}

.contactform form div input {
    width: 40%;
    display: flex;
    padding: 8px 0;
    border: 2px solid rgb(22, 17, 17);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

#emailHelp {
    font-size: 10px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
}


.contactform form div label {
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.contactform form button {
    width: 10%;
    background-color: #1c48d6;
    color: white;
    padding: 13px 27px;
    margin: 18px 0px 0px 145px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 17px;
    display: flex;
}
.contactform form button:hover {
    
    background-color: #00e271;
    color: #ffffff;
    
    font-size: 17px;
}



#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.blogcontainer h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 20px 33px;
    font-size: 37px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.blogitem {
        font-family: 'Fira Sans', sans-serif;
        margin: 34px 10px 30px 30px;
        font-size: 17px;
        color: rgb(0, 0, 0);
}
.blogitem  p {
        font-family: 'Source Code Pro', monospace;      
        
        font-size: 17px;
        font-weight: bold;
        color: rgb(0, 0, 0);
}
.blogitem button {
    padding: 9px;
    margin: 17px 0 2px 0;
    border-radius: 20px;
    background-color: #1c48d6;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.blogitem button:hover{
    background-color: #e8e9eb;
    color: #1c48d6;;
}

.intro h1 {
    color:  rgb(218,112,214);
    margin: 58px 0px 15px 41px;
    font-size: 35px;
}
.intro p {
    color: rgb(0, 0, 0);
    margin: 8px 10px 17px 41px;
    font-family: 'Fira Sans', sans-serif;
}
.set {
    
    font-family: 'Fira Sans', sans-serif;
}

.skills-1 h1 {
    color: rgb(0, 0, 0);
    margin: 0px 10px 15px 41px;
}
.span h1 {
    color: rgb(0, 0, 0);
    margin: 0px 10px 15px 41px;
}
.skills-1 {
    flex-direction: row;
    display: flex;
}


.skills-1 p {
    color: rgb(218,112,214) ;
    margin: 0px 10px 15px 41px;
    font-weight: bold;
}

.skills-1 pre {
    color: rgb(0, 0, 0);
    margin: 33px 0px 12px -64px;
    font-family: 'Fira Sans', sans-serif;
}

.skills-2 p {
    color: rgb(218,112,214);
    margin: 0px 10px 15px 41px;
    font-weight: bold;
}
.skills-2 pre {
    color: rgb(0, 0, 0);
    margin: 0px 0px 12px 108px;
    font-family: 'Fira Sans', sans-serif;
}



.skills-3 h1 {
    color: rgb(0, 0, 0);
    margin: 0px 10px 15px 41px;
}

.skills-3 {
    flex-direction: row;
    
}




.skills-3 p {
    color: rgb(218,112,214);
    margin: 0px 10px 15px 41px;
    font-weight: bold;
}

.skills-3 pre {
    color: rgb(0, 0, 0);
    margin: 0px 0px 12px 71px;
    font-family: 'Fira Sans', sans-serif;
}


.skills-4 p {
    color: rgb(218,112,214) ;
    margin: 0px 10px 15px 41px;
    font-weight: bold;
}
.skills-4 pre {
    color: rgb(0, 0, 0);
    margin: 0px 0px 12px 71px;
    
    
}

.cv button {
    color: white;
    background-color: blue;
}